**/.git
**/.git/**
logs/
**/*.log
**/lazy-lock.json
**/.DS_Store
Dockerfile*
.dockerignore
.gitignore
.gitmodules
README.md
LICENSE
TODO/
nvim-starter/*/.git/
nvim-starter/*/spell/
nvim-starter/*/doc/
nvim-starter/*/lazy-lock.json
