**/.DS_Store
**/lazy-lock.json

.envrc
.netrc

*.log

/logs/*
!/logs/.gitkeep

/tmp/

# Local theme overrides (written by penny-theme)
/nvim-starter/astronvim_v6/lua/_local_theme.lua
/nvim-starter/lazyvim/lua/_local_theme.lua
/nvim-starter/kickstart/lua/_local_theme.lua
/configs/wezterm/_local_theme.lua
